.nav-mb {
  position: fixed;
  top: -100%;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  width: 390px;

  padding: 30px 15px 40px 15px;
  background-color: $bgColor;

  transition: top 0.3s;
  z-index: 2;
}

.nav-mb--active {
  top: 0;
  transition: top 0.3s;
}

.nav-mb__list {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
  & a {
    font-size: 18px;
    font-weight: 600;
  }
}


