.skills {
  padding-top: 60rem;
  padding-bottom: 60rem;

  &__row-content {
    width: 100%;
    // max-width: 1064px;
    margin: 0 auto;
  }

  &__title {
    // text-align: center;
    margin-bottom: 40rem;
  }

  &__list {
    display: flex;
    gap: 30px;



    @media (max-width: 1199px) {
      grid-template-columns: repeat(3, 200rem);
      grid-template-rows: repeat(2, 300rem);
    }

    @media (max-width: 999px) {
      display: flex;
      flex-direction: column;
    }

  }

  &__item-list {
    width: 100%;
    height: 100%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $bgLightColor;

    border-radius: 10rem;

    cursor: pointer;


    @media (max-width: 999px) {
      min-height: 120rem;
      max-width: 599rem;
      margin: 0 auto;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding-left: 30rem;
    }
  }

  &__logo-item-list {
    margin: 0 auto;
    margin-bottom: 15rem;
    fill: #F0E3CA;

    @media (max-width: 999px) {
      height: 62rem;
      margin: 0;
      margin-right: 15rem;
    }
  }

  &__title-item-list {
    font-family: 'Arial', sans-serif;
    text-align: center;
    font-size: 28rem;
    line-height: 1;

    @media (max-width: 699px) {
      font-size: 16rem;

    }
  }
}

.skills__logo-item-list.logo-html {
  &:hover {
    fill: $hoverIconHtml;
    transition: 0.3s;
  }
}

.skills__logo-item-list.logo-react {
  &:hover {
    fill: $hoverIconReact;
    transition: 0.3s;
  }
}

.skills__logo-item-list.logo-css {
  &:hover {
    fill: $hoverIconCss;
    transition: 0.3s;
  }
}

.skills__logo-item-list.logo-js {
  &:hover {
    fill: $hoverIconJS;
    transition: 0.3s;
  }
}

.skills__logo-item-list.logo-scss {
  &:hover {
    fill: $hoverIconScss;
    transition: 0.3s;
  }
}

.skills__logo-item-list.logo-git {
  &:hover {
    fill: $hoverIconGit;
    transition: 0.3s;
  }
}